
.image-gallery {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	margin: 0 auto 5rem;
	// width: 85%;
	
	@include breakpoint(tablet-portrait) {
		flex-wrap: wrap;
		width: 95%;
	}

	.gallery--left,
	.gallery--center {
		@include breakpoint(mobile-landscape) {
			width: 50%;	
		}
	}

	.gallery--right {
		@include breakpoint(tablet-portrait) {
			display: flex;
			justify-content: space-around;
		}

		@include breakpoint(mobile-landscape) {
			width: 100%;
		}
	}
	
	figure {
		padding: 0 15px;
		
		img { 
			box-shadow: 0px 4px 16px #868686;
			position: static;
		}
	}
}