
.banner-image {
	img {
		@include breakpoint(tablet-portrait) {
			margin-top: 6em;
		}
		width: 100%;
	}
}

cycle-slideshow {
	z-index: 1;
}


figure {
	padding-top: 100%;
	position: relative;

	.scale {
		max-width: 100%;
	}

	img {
		position: absolute;
		right: 0;
		top: 0;
	}
}
