
.banner-image {
	background: url(/images/nine.jpg) no-repeat center right fixed; 
	background-size: cover;
	min-height: 700px;

	figure {
		padding-top: calc(3648/5472 * 100%);
	}
}


figure {
	padding-top: 100%;
	position: relative;

	.scale {
		max-width: 100%;
	}

	img {
		position: absolute;
		right: 0;
		top: 0;
	}
}
