
.header {
	margin: 2em;
}

.trigger {
	min-width: 400px;

	.main-nav {
		display: flex;
		justify-content: flex-end;
		list-style: none;
		margin: 0;
	}

	li {
		font-size: 0.75rem;
		padding: 0.25rem 0 0;
		margin-left: 4rem;
		text-align: center;
		// width: 20%;
		
		&:hover, &:focus{
			// border-top: 1px solid $black;
		}
	}

	a {
		border-bottom: 2px solid #222;
		color: $black;
		font-size: $base-font-size;
		padding-bottom: 1rem;
		text-decoration: none;
		

	}

	.nav-1 {
		a {
			transition: all 0.3s ease;
			&:hover {
				border-bottom: 2px solid #4ACFEC;
				// color: #4ACFEC;
			}
		}
	}

	.nav-2 {
		a {
			transition: all 0.3s ease;
			&:hover {
				border-bottom: 2px solid #9985C9;
				// color: #9985C9;
			}
		}
	}

	.nav-3 {
		a {
			transition: all 0.3s ease;
			&:hover {
				border-bottom: 2px solid #E44332;
				// color: #E44332
			}
		}
	}
}
