<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
         <ul class="footer-nav">
            <li class="nav-1">
              <a href="/about/">About</a>
            </li>
            <li class="nav-2">
              <a href="#">Portfolio</a>
            </li>
            <li class="nav-3">
              <a href="/inquiries/">Inquiries</a>
            </li>
          </ul>
      </div>

            <div class="footer-col footer-col-2">
        <ul class="list-social">
          <li>Cait Spackman</li>
          <li><a href="mailto:cait.spackman@gmail.com">cait.spackman@gmail.com</a></li>
          <li>{%- include social.html -%}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
       <img src="/images/logos/logo-footer.png" alt="scale">

      </div>

    </div>

  </div>

</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/slider.js"></script>
