
	<div class="image-gallery">
		<div class="gallery--left">
			<figure>
				<img class="scale" src="/images/image-gallery/left-top.jpg" alt="">
			</figure>
			<figure>
				<img class="scale" src="/images/image-gallery/left-bottom.jpg" alt="">
			</figure>
		</div>
		<div class="gallery--center">
			<figure>
				<img class="scale" src="/images/image-gallery/center.jpg" alt="">
			</figure>
		</div>
		<div class="gallery--right">
			<figure>
				<img src="/images/image-gallery/right-top.jpg" alt="">
			</figure>
			<figure>
				<img class="scale" src="/images/image-gallery/right-bottom.jpg" alt="">
			</figure>
		</div>
	</div>
