---
layout: default
---


<section aria-label="Main Callout" class="main-col">
  <h1 class="main-col-title">Photos</h1>
  <p class="main-col-content">Exercitation incididunt incididunt in sed ut ullamco velit dolor quis dolor ut exercitation esse est in mollit in nostrud voluptate do veniam ut reprehenderit anim eu sunt proident ut ea officia id proident commodo exercitation ea ut ad.</p>
</section>

<section class="categories">
  <ul class="cat-list">
    <li class="cat-main">
      <figure>
        <img src="" alt="">
        <figcaption></figcaption>
      </figure>
    </li>
    <li class="cat-main">
      <figure>
        <img src="" alt="">
        <figcaption></figcaption>
      </figure>
    </li>
    <li class="cat-sub">
      <figure>
        <img src="" alt="">
        <figcaption></figcaption>
      </figure>
    </li>
    <li class="cat-sub">
      <figure>
        <img src="" alt="">
        <figcaption></figcaption>
      </figure>
    </li>
    <li class="cat-sub">
      <figure>
        <img src="" alt="">
        <figcaption></figcaption>
      </figure>
    </li>
  </ul>
</section>
